

a, li {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* Global CSS that are applied for all screen sizes */


.opciones ul {
	max-width: auto;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 1.5em;
	font-weight: 300;
}

.opciones li span {
	display: block;
}

.opciones a {
	display: block;
	color: rgba(249, 249, 249, .9);
	text-decoration: none;
	-webkit-transition: color .5s, background .5s, height .5s;
	-moz-transition: color .5s, background .5s, height .5s;
	-o-transition: color .5s, background .5s, height .5s;
	-ms-transition: color .5s, background .5s, height .5s;
	transition: color .5s, background .5s, height .5s;
}

.opciones i{
	/* Make the font smoother for Chrome */
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/* Remove the blue Webkit background when element is tapped */

a, button {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Hover effect for the whole navigation to make the hovered item stand out */

.no-touch .opciones ul:hover a {
	color: rgba(249, 249, 249, .5);
}

.no-touch .opciones ul:hover a:hover {
	color: rgba(249, 249, 249, 0.99);
}

/* Adding some background color to the different menu items */

.opciones li:nth-child(6n+1) {
	background:#1B4079;
}

.opciones li:nth-child(6n+2) {
	background:rgb(22, 107, 162);
}

.opciones li:nth-child(6n+3) {
	background: #4D7C8A;
}

.opciones li:nth-child(6n+4) {
	background: #7F9C96;
}

.opciones li:nth-child(6n+5) {
	background: #8FAD88;
}

.opciones li:nth-child(6n+6) {
	background: #CBDF90;
}

/* For screen bigger than 800px */
@media (min-width: 50em) {

	/* Transforms the list into a horizontal navigation */
	.opciones li {
		float: left;
		width: 16.66666666666667%;
		text-align: center;
		-webkit-transition: border .5s;
		-moz-transition: border .5s;
		-o-transition: border .5s;
		-ms-transition: border .5s;
		transition: border .5s;
	}

	.opciones a {
		display: block;
		width: auto;
	}

	/* hover, focused and active effects that add a little colored border to the different items */
	.no-touch .opciones li:nth-child(6n+1) a:hover,
	.no-touch .opciones li:nth-child(6n+1) a:active,
	.no-touch .opciones li:nth-child(6n+1) a:focus {
		border-bottom: 4px solid #0f2341;
	}

	.no-touch .opciones li:nth-child(6n+2) a:hover,
	.no-touch .opciones li:nth-child(6n+2) a:active,
	.no-touch .opciones li:nth-child(6n+2) a:focus {
		border-bottom: 4px solid #125d8d;
	}

	.no-touch .opciones li:nth-child(6n+3) a:hover,
	.no-touch .opciones li:nth-child(6n+3) a:active,
	.no-touch .opciones li:nth-child(6n+3) a:focus {
		border-bottom: 4px solid #3b616c;
	}

	.no-touch .opciones li:nth-child(6n+4) a:hover,
	.no-touch .opciones li:nth-child(6n+4) a:active,
	.no-touch .opciones li:nth-child(6n+4) a:focus {
		border-bottom: 4px solid #69817c;
	}

	.no-touch .opciones li:nth-child(6n+5) a:hover,
	.no-touch .opciones li:nth-child(6n+5) a:active,
	.no-touch .opciones li:nth-child(6n+5) a:focus {
		border-bottom: 4px solid #657761;
	}

	.no-touch .opciones li:nth-child(6n+6) a:hover,
	.no-touch .opciones li:nth-child(6n+6) a:active,
	.no-touch .opciones li:nth-child(6n+6) a:focus {
		border-bottom: 4px solid #899760;
	}

	/* Placing the icon */

	.icon {
		padding-top: 1.4em;
	}

	.icon + span {
		margin-top: 2.1em;
		-webkit-transition: margin .5s;
		-moz-transition: margin .5s;
		-o-transition: margin .5s;
		-ms-transition: margin .5s;
		transition: margin .5s;
	}

	/* Animating the height of the element*/
	.opciones a {
		height: 9em;
	}

	.no-touch .opciones a:hover ,
	.opciones a:active ,
	.opciones a:focus {
		height: 10em;
	}

	/* Making the text follow the height animation */
	.no-touch .opciones a:hover .icon + span {
		margin-top: 3.2em;
		-webkit-transition: margin .5s;
		-moz-transition: margin .5s;
		-o-transition: margin .5s;
		-ms-transition: margin .5s;
		transition: margin .5s;
	}

	/* Positioning the icons and preparing for the animation*/
	.opciones i {
		position: relative;
		display: inline-block;
		margin: 0 auto;
		padding: 0.4em;
		border-radius: 50%;
		font-size: 1.8em;
		box-shadow: 0 0 0 30px transparent;
		background: rgba(255,255,255,0.1);
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-webkit-transition: box-shadow .6s ease-in-out;
		-moz-transition: box-shadow .6s ease-in-out;
		-o-transition: box-shadow .6s ease-in-out;
		-ms-transition: box-shadow .6s ease-in-out;
		transition: box-shadow .6s ease-in-out;
	}

	/* Animate the box-shadow to create the effect */
	.no-touch .opciones a:hover i,
	.no-touch .opciones a:active i,
	.no-touch .opciones a:focus i {
		box-shadow: 0 0 0 0 rgba(255,255,255,0.2);
		-webkit-transition: box-shadow .4s ease-in-out;
		-moz-transition: box-shadow .4s ease-in-out;
		-o-transition: box-shadow .4s ease-in-out;
		-ms-transition: box-shadow .4s ease-in-out;
		transition: box-shadow .4s ease-in-out;
	}

}

@media (min-width: 50em) and (max-width: 61.250em) {

	/* Size and font adjustments to make it fit into the screen*/
	.opciones ul {
		font-size: 1.2em;
	}

}

/* The "tablet" and "mobile" version */

@media (max-width: 49.938em) {

	/* Instead of adding a border, we transition the background color */
	.no-touch .opciones ul li:nth-child(6n+1) a:hover,
	.no-touch .opciones ul li:nth-child(6n+1) a:active,
	.no-touch .opciones ul li:nth-child(6n+1) a:focus {
		background: #0f2341;
	}

	.no-touch .opciones li:nth-child(6n+2) a:hover,
	.no-touch .opciones li:nth-child(6n+2) a:active,
	.no-touch .opciones li:nth-child(6n+2) a:focus {
		background: #125d8d;
	}

	.no-touch .opciones li:nth-child(6n+3) a:hover,
	.no-touch .opciones li:nth-child(6n+3) a:active,
	.no-touch .opciones li:nth-child(6n+3) a:focus {
		background: #3b616c;
	}

	.no-touch .opciones li:nth-child(6n+4) a:hover,
	.no-touch .opciones li:nth-child(6n+4) a:active,
	.no-touch .opciones li:nth-child(6n+4) a:focus {
		background: #69817c;
	}

	.no-touch .opciones li:nth-child(6n+5) a:hover,
	.no-touch .opciones li:nth-child(6n+5) a:active,
	.no-touch .opciones li:nth-child(6n+5) a:focus {
		background: #657761;
	}

	.no-touch .opciones li:nth-child(6n+6) a:hover,
	.no-touch .opciones li:nth-child(6n+6) a:active,
	.no-touch .opciones li:nth-child(6n+6) a:focus {
		background: #899760;
	}

	.opciones ul li {
		-webkit-transition: background 0.5s;
		-moz-transition: background 0.5s;
		-o-transition: background 0.5s;
		-ms-transition: background 0.5s;
		transition: background 0.5s;
	}

}

/* CSS specific to the 2x3 columns version */
@media (min-width:32.5em) and (max-width: 49.938em) {

	/* Creating the 2 column layout using floating elements once again */
	.opciones li {
		display: block;
		float: left;
		width: 50%;
	}

	/* Adding some padding to make the elements look nicer*/
	.opciones a {
		padding: 0.8em;
	}

	/* Displaying the icons on the left, and the text on the right side using inlin-block*/
	.opciones li span,
	.opciones li span.icon {
		display: inline-block;
	}

	.opciones li span.icon {
		width: 50%;
	}

	.opciones li .icon + span {
		font-size: 1em;
	}

	.icon + span {
		position: relative;
		top: -0.2em;
	}

	/* Adaptating to the icons to animate the size and border of the rounded background in a more discreet way */
	.opciones li i {
		display: inline-block;
		padding: 8% 9%;
		border: 4px solid transparent;
		border-radius: 50%;
		font-size: 1.5em;
		background: rgba(255,255,255,0.1);
		-webkit-transition: border .5s;
		-moz-transition: border .5s;
		-o-transition: border .5s;
		-ms-transition: border .5s;
		transition: border .5s;
	}

	/* Transition effect on the border color */
	.no-touch .opciones li:hover i,
	.no-touch .opciones li:active i,
	.no-touch .opciones li:focus i {
		border: 4px solid rgba(255,255,255,0.1);
	}

}

/* Adapting the font size and width for smaller screns*/
@media (min-width: 32.5em) and (max-width: 38.688em) {

	.opciones li span.icon {
		width: 50%;
	}

	.opciones li .icon + span {
		font-size: 0.9em;
	}
}

/* Styling the toggle menu link and hiding it */
.opciones .navtoogle{
	display: none;
	width: 100%;
	padding: 0.5em 0.5em 0.8em;
	font-family: 'Lato',Calibri,Arial,sans-serif;
	font-weight: normal;
	text-align: left;
	color: rgb(7, 16, 15);
	font-size: 1.2em;
	background: none;
	border: none;
	border-bottom: 4px solid rgb(221, 221, 221);
	cursor: pointer;
}

.navtoogle i{
	z-index:-1;
}

.icon-menu {
	position: relative;
	top: 3px;
	line-height: 0;
	font-size: 1.6em;
}

@media (max-width: 32.438em) {

	/* Unhiding the styled menu link */
	.opciones .navtoogle{
		margin: 0;
		display: block;
	}

	/* Animating the height of the navigation when the button is clicked */

	/* When JavaScript is disabled, we hide the menu */
	.no-js .opciones ul {
		max-height: 30em;
		overflow: hidden;
	}

	/* When JavaScript is enabled, we hide the menu */
	.js .opciones ul {
		max-height: 0;
		overflow: hidden;
	}

	/* Displaying the menu when the user has clicked on the button*/
	.js .opciones .active + ul {
		max-height: 30em;
		overflow: hidden;
		-webkit-transition: max-height .4s;
		-moz-transition: max-height .4s;
		-o-transition: max-height .4s;
		-ms-transition: max-height .4s;
		transition: max-height .4s;
	}

	/* Adapting the layout of the menu for smaller screens : icon on the left and text on the right*/

	.opciones li span {
		display: inline-block;
		height: 100%;
	}

	.opciones a {
		padding: 0.5em;
	}

	.icon + span {
		margin-left: 1em;
		font-size: 0.8em;
	}

	/* Adding a left border of 8 px with a different color for each menu item*/
	/*.opciones li:nth-child(6n+1) {
		border-left: 8px solid rgb(174, 78, 1);
	}

	.opciones li:nth-child(6n+2) {
		border-left: 8px solid rgb(191, 117, 20);
	}

	.opciones li:nth-child(6n+3) {
		border-left: 8px solid rgb(13, 111, 150);
	}

	.opciones li:nth-child(6n+4) {
		border-left: 8px solid rgb(10, 75, 117);
	}

	.opciones li:nth-child(6n+5) {
		border-left: 8px solid rgb(16, 34, 44);
	}

	.opciones li:nth-child(6n+6) {
		border-left: 8px solid rgb(9, 18, 25);
	}
*/
	/* make the nav bigger on touch screens */
	.touch .opciones a {
		padding: 0.8em;
	}
}

